.contact-container .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    .ui.header {
        margin-top: 1rem;
        text-align: center;
    }
}

.contact-container .text{
    p {
        margin-bottom: 4rem;
    }
}


.contact-container .content .form{
    margin-top: 2rem;

}


