.ui.menu {
    min-height: 30px !important;
}

/* Adjust logo */
.ui.menu .item img.logo {
    width: 80px !important;  /* Adjust this value as needed */
    height: auto !important;
}

.ui.container {
    padding-left: 1em !important;
    padding-right: 1em !important;
}
/* Show the desktop menu only on larger screens */
@media (min-width: 768px) {
    .desktop-menu {
        display: flex;
    }
    .mobile-menu {
        display: none;
    }
}


