body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigation-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-container {
  flex: 1;
}


@media (max-width: 500px) {
  .content-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 84px;
    padding-bottom: 80px;
  }
}
